#container{
	width: 1000px;
}

#header{
	background-color:#FFFF00;
	margin-bottom: 0;
	font-size: 40px;
}

#menu{
	background-color:#00FF00;
	height:200px;
	width:200px;
	float:left;
	border:5px;
}
#content{
	background-color:#0000FF;
	height:200px;
	width:600px;
	float:left;
}
#footer{
	background-color:#FFA500;
	clear:both;
	text-align:center;
}

img{
border:5px black;
padding: 5px;
height: 300px;
width: 300px;
background-color:white;
margin-left:220px;
}

h1 {
   color:black;
   margin-bottom:0px; 
   text-align:center;
}

h2 {
   color:blue;
   margin-bottom:20px; 
   text-align:left;
}

a:hover {
	color: #000000; }
