#container{
	width: 1000;
}

#header{
	background-color:#FF5A00;
	margin-bottom: 0;
}

#menu{
	background-color:#FF7D00;
	height:200;
	width:200;
	float:left;
	border:5;
}
#content{
	background-color:#0000FF;
	height:200;
	width:600;
	float:left;
}
#footer{
	background-color:#FFA500;
	clear:both;
	text-align:center;
}

img{
border:5px black;
padding: 5;
height: 300;
width: 300;
background-color:white;
margin-left:220;
}

h1 {
   color:black;
   margin-bottom:0; 
   text-align:center;}

h2 {
   color:blue;
   margin-bottom:20; 
   text-align:left;}

   
   
