#container{
	width: 1000px;
}

#header{
	background-color:#ffffff;
	margin-bottom: 10px;
	font-size: 20px;
}

#menu{
	background-color:#FF7D00;
	height:200px;
	width:200px;
	float:left;
	border:5px black;
}
#content{
	background-color:#EEEEEE;
	height:200px;
	width:600px;
	float:left;
}
#footer{
	background-color:#FFA500;
	clear:both;
	text-align:center;
}

img{
border:5px black;
padding: 5px;
height: 300px;
width: 300px;
background-color:white;
margin-left:220px;
}

h1 {
   color:black;
   margin-bottom:0; 
   text-align:center;}

h2 {
   color:blue;
   margin-bottom:20; 
   text-align:left;}

   
   
